set firewall all-ping enable
set firewall broadcast-ping disable
set firewall ipv6-receive-redirects disable
set firewall ipv6-src-route disable
set firewall ip-src-route disable
set firewall log-martians enable
set firewall name inet-in default-action drop
set firewall name inet-in description 'internet inbound traffic'
set firewall name inet-in enable-default-log
set firewall name inet-in rule 1 action accept
set firewall name inet-in rule 1 description 'allow established connections'
set firewall name inet-in rule 1 log disable
set firewall name inet-in rule 1 protocol all
set firewall name inet-in rule 1 state established enable
set firewall name inet-in rule 1 state invalid disable
set firewall name inet-in rule 1 state new disable
set firewall name inet-in rule 1 state related enable
set firewall name inet-in rule 2 action drop
set firewall name inet-in rule 2 description 'Drop Inbound Inet Traffic'
set firewall name inet-in rule 2 log enable
set firewall name inet-in rule 2 protocol all
set firewall name inet-out default-action accept
set firewall name inet-out description 'Outbound Internet Traffic'
set firewall name inet-out enable-default-log
set firewall name inet-out rule 1 action accept
set firewall name inet-out rule 1 description 'Outbound Inet Traffic Allow'
set firewall name inet-out rule 1 log enable
set firewall name inet-out rule 1 protocol all
set firewall name inet_local default-action drop
set firewall name inet_local description 'Traffic destined to local router'
set firewall name inet_local enable-default-log
set firewall name inet_local rule 1 action accept
set firewall name inet_local rule 1 description 'allow established connections'
set firewall name inet_local rule 1 log disable
set firewall name inet_local rule 1 protocol all
set firewall name inet_local rule 1 state established enable
set firewall name inet_local rule 1 state invalid disable
set firewall name inet_local rule 1 state new disable
set firewall name inet_local rule 1 state related enable
set firewall name inet_local rule 2 action drop
set firewall name inet_local rule 2 description 'drop invalid state'
set firewall name inet_local rule 2 log enable
set firewall name inet_local rule 2 protocol all
set firewall receive-redirects disable
set firewall send-redirects enable
set firewall source-validation disable
set firewall syn-cookies enable
set interfaces ethernet {{item.lan_interface}} description LAN
set interfaces ethernet {{item.lan_interface}} duplex auto
set interfaces ethernet {{item.lan_interface}} firewall in name inet-out
set interfaces ethernet {{item.lan_interface}} speed auto
set interfaces ethernet {{item.lan_interface}} address {{item.lan_ip_addr}}
set interfaces ethernet {{item.lan_interface}} description Production-Wired
set interfaces ethernet eth1 duplex auto
set interfaces ethernet eth1 speed auto
set interfaces ethernet {{item.wan_interface}} address dhcp
set interfaces ethernet {{item.wan_interface}} description WAN
set interfaces ethernet {{item.wan_interface}} duplex auto
set interfaces ethernet {{item.wan_interface}} firewall in name inet-in
set interfaces ethernet {{item.wan_interface}} firewall local name inet_local
set interfaces ethernet {{item.wan_interface}} speed auto
set interfaces loopback lo
set interfaces vti vti1 address {{item.tunnel_ip}}
set interfaces vti vti1 mtu 1436
set protocols bgp {{item.bgp_local_as}} neighbor {{item.bgp_neighbor_ip}} remote-as {{item.bgp_neighbor_as}}
set protocols bgp {{item.bgp_local_as}} network {{item.site_local_prefix}}
set protocols bgp {{item.bgp_local_as}} timers holdtime 15
set protocols bgp {{item.bgp_local_as}} timers keepalive 5
set protocols static interface-route {{item.static_default_route}} next-hop-interface {{item.wan_interface}}
set service dhcp-server disabled false
set service dhcp-server hostfile-update disable
set service dhcp-server shared-network-name Production-Wired authoritative disable
set service dhcp-server shared-network-name Production-Wired subnet {{item.site_local_prefix}} default-router {{item.lan_ip_addr}}
set service dhcp-server shared-network-name Production-Wired subnet {{item.site_local_prefix}} dns-server {{item.lan_ip_addr}}
set service dhcp-server shared-network-name Production-Wired subnet {{item.site_local_prefix}} lease 86400
set service dhcp-server shared-network-name Production-Wired subnet {{item.site_local_prefix}} start {{item.lan_dhcp_lease_start}} stop {{item.lan_dhcp_lease_stop}}
set service dns forwarding cache-size 150
set service dns forwarding listen-on {{item.lan_interface}}
set service dns forwarding listen-on {{item.wan_interface}}
set service gui http-port 80
set service gui https-port 443
set service gui older-ciphers enable
set service nat rule 5000 description 'Internet Outbound NAT'
set service nat rule 5000 destination
set service nat rule 5000 log enable
set service nat rule 5000 outbound-interface {{item.wan_interface}}
set service nat rule 5000 protocol all
set service nat rule 5000 source
set service nat rule 5000 type masquerade
set service snmp community {{item.snmp_ro_string}} authorization ro
set service snmp location '{{item.snmp_location}}'
set service ssh port 22
set service ssh protocol-version v2
set system conntrack expect-table-size 4096
set system conntrack hash-size 4096
set system conntrack table-size 32768
set system conntrack tcp half-open-connections 512
set system conntrack tcp loose enable
set system conntrack tcp max-retrans 3
set system host-name {{item.hostname}}
set system login user mcolburn authentication plaintext-password '{{item.user_password}}'
set system login user mcolburn full-name 'Marc Colburn'
set system login user mcolburn level admin
set system name-server 8.8.8.8
set system ntp server 0.ubnt.pool.ntp.org
set system ntp server 1.ubnt.pool.ntp.org
set system ntp server 2.ubnt.pool.ntp.org
set system ntp server 3.ubnt.pool.ntp.org
set system offload hwnat disable
set system offload ipsec enable
set system offload ipv4 forwarding enable
set system offload ipv4 vlan enable
set system offload ipv6 forwarding disable
set system syslog global facility all level notice
set system syslog global facility protocols level debug
set system time-zone America/New_York
set system traffic-analysis dpi enable
set system traffic-analysis export enable
set vpn ipsec auto-firewall-nat-exclude disable
set vpn ipsec esp-group CGSREGUS_ESP compression disable
set vpn ipsec esp-group CGSREGUS_ESP lifetime 1800
set vpn ipsec esp-group CGSREGUS_ESP mode tunnel
set vpn ipsec esp-group CGSREGUS_ESP pfs enable
set vpn ipsec esp-group CGSREGUS_ESP proposal 1 encryption aes128
set vpn ipsec esp-group CGSREGUS_ESP proposal 1 hash sha1
set vpn ipsec ike-group CGSREGUS_IKE dead-peer-detection action restart
set vpn ipsec ike-group CGSREGUS_IKE dead-peer-detection interval 30
set vpn ipsec ike-group CGSREGUS_IKE dead-peer-detection timeout 120
set vpn ipsec ike-group CGSREGUS_IKE ikev2-reauth yes
set vpn ipsec ike-group CGSREGUS_IKE key-exchange ikev2
set vpn ipsec ike-group CGSREGUS_IKE lifetime 28800
set vpn ipsec ike-group CGSREGUS_IKE proposal 1 dh-group 5
set vpn ipsec ike-group CGSREGUS_IKE proposal 1 encryption aes128
set vpn ipsec ike-group CGSREGUS_IKE proposal 1 hash sha1
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} authentication mode pre-shared-secret
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} authentication pre-shared-secret {{item.ipsec_peer_psk}}
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} connection-type initiate
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} default-esp-group CGSREGUS_ESP
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} ike-group CGSREGUS_IKE
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} ikev2-reauth inherit
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} local-address {{item.ipsec_local_ip}}
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} vti bind vti1
set vpn ipsec site-to-site peer {{item.ipsec_peer_ip}} vti esp-group CGSREGUS_ESP
